body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #222;
	color: #EEE;
}

a {
	color: #00B7FF;
}

#processOutput {
	display: block;
	font-family: monospace;
	white-space: pre;
	height: 300px;
	overflow-y: auto;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background: #452fa9;
	cursor:pointer;
	user-select: none;
	-webkit-user-select: none;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
	font: 13pt "Lucida Grande", Helvetica, Arial, sans-serif;
	border: none;
	color: #ddd;
}

button:active {
	background: #36365b;
}

html.warning button {
	background: #7f2d18;
}

html.warning button:active {
	background: #5e2314;
}

button {
	width: 160px;
	height: 64px;
}

input[type=text] {
	background-color: #333;
	font: 13pt "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #eee;
	padding: 4px 12px;
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.5);
	height: 32px;
	outline: none;
}

input[type=text]:focus {
	border-color: #fff;
}

#readFilenameInput {
	width: 256px;
}

#fileSelectButton {
	width: 256px;
	height: 32px;
}

h3 {
	width: 640px;
	margin: 64px auto 8px;
	font-weight: 500;
}

#processOutput {
	height: 192px;
	overflow-y: scroll;
	border: 1px solid #666;
	border-radius: 4px;
	font-family: monospace;
	width: 640px;
	box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.3);
	margin: 8px auto;
}

#commandFileOutput:empty::after {
	content: '<no file>';
	color: red;
}

#executeButton {
	position: relative;
}

#executeButton::after {
	content: '';
	position: absolute;
	border-bottom: 2px solid white;
	width: 100%;
	bottom: 0;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transform-origin: 0 0;
}

#executeButton:hover:active::after {
	visibility: visible;
	transform: scaleX(1);
	transition: transform 500ms linear;
}

html.warning #executeButton:hover:active::after {
	transition: transform 1000ms linear;
}

#executeButton:disabled {
	background-color: #444;
	color: #999;
}
